@charset "utf-8";
body{
    font:normal 16px/1.8em Arial,Helvetica,sans-serif;
}
a{
    text-decoration: none;
}
header, footer, nav, main{
    margin:2px;
    border: 2px solid #f00;
}
li, form, img, h1, h2{
    margin:2px;
    border: 2px solid #f00;
}
header{

}
.header__contents{

}
.header__contents--text{

}
.header__contents--logo{

}
.header__image{

}
nav{

}
nav ul{

}
nav ul li{

}
nav ul li a{

}
main{

}
.menu{

}
.menu__content{

}
.menu__content--text{

}
.menu__content--text h1{

}
.menu__content--text p{

}
.menu__content--image{

}
.vision{

}
.vision__image{

}
.vision__column{

}
.menu_column--item{

}
.menu_column--item-img{

}
footer{

}
.footer{

}
.footer h2{

}
.footer{

}
.footer__image{

}
.footer__column{

}
.footer__column--form{

}
.footer__column--form form{
    
}
.footer__column--form form p{
    
}
.footer__column--form input[type="text"]{
    
}
.footer__column--form textarea{
    
}
.footer__column--map{

}
.footer__copy{
    
}